@charset "UTF-8";

/* 
  共通部分 
*/
html{
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.page-header{
  display: flex;
  font-size: 13px;
  border-bottom: 1px solid #d4d4d4;
}

.page-header h1{
  padding: 10px 0 0 19px;
}
.wrapper{
  min-width: auto;
  margin: 0 auto;
  padding: 0 0; /* スマートフォン向けの余白設定 */
}

.logo{
  width: 71px;
  margin-top: 14px;
}

.main_nav{
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.main_nav a{
  color: #432;
}

.main_nav a:hover{
  color: #0bd;
}
.main_nav li{
  margin: 0 0 0 30px;
  padding: 54px 0;
}

.headerNavLang{
  margin-left: auto;
  height: 130px;
  width: 120px;
  border-left: 1px solid #d4d4d4;
}

.headerNavLang p{
  padding: 54px 0;
  margin: 0 0 0 20px;
}

.headerNavLang a{
  color: #432;
}

.headerNavLang a:hover{
  color: #0bd;
}

.headerNavSub{
  width: 120px;
  height: 130px;
  border-left: 1px solid #d4d4d4;
}

.headerNavSub a{
  color: #432;
}

.headerNavSub a:hover{
  color: #0bd;
}

.SubList{
  list-style: none;
  margin: 40px 0 0 20px;
}

.topVisual{
  background-size: cover; /* 画像の縦横比を保ったまま、画面いっぱいに広げたい場合の設定 */
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

#topImg{
  background-image: url('../images/ae26e88550b587545778b941fd256d371df62a5d.jpg');
  min-height: 70vh;
  max-width: 1366px;
  margin: auto;
}

.tp-Topics{
  margin-top: 6.364301389904901%;
}

.tp-Heading{
  position: relative; /* これで自身が基準となる */
  top: -28px;
}
/* 見出し */
.page-title{
  font-size: 4rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}
/* ボタン */
.button{
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover{
  background: #0090aa;
}

/* 背景画像 */
.big-bg{
  background-size: cover; /* 画像の縦横比を保ったまま、画面いっぱいに広げたい場合の設定 */
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

#home{
  background-image: url('../images/main-bg.jpg');
  /*
  background-color: #0bd;
  background-blend-mode: hard-light; /* ブレンドモード、ハードライトの指定 */

  min-height: 100vh;
}

#home .page-title{
  text-transform: none;
}

/* footer */
footer{
  background-color: #432;
  text-align: center;
  padding: 26px 0;
}
footer p{
  color: #fff;
  font-size: 0.875rem;
}
/*
  共通部分終わり
*/

/* 
  News Page 
*/
#news {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}

#news .page-title{
  text-align: center;
}
/* 記事部分 */
article{
  width: 60%;
  order: 2;
}

.post-info{
  position: relative; /* これでpost-infoが基準になる */
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-date{
  position: absolute; /* 位置がpost-infoを基準とする */
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  top: 0;
  padding-top: 10px;
}

.post-date span{
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.post-title{
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title, .post-cat{
  margin-left: 120px;
}
/* サイドバー */
aside{
  width: 22%;
  order: 3;
}
/* バナー */
.ad{
  order: 1; /* これで左から配置の順番を設定できる */
}

aside p{
  padding: 12px 10px; /* 文字の余白設定 */
}

.sub-menu{
  margin-bottom: 60px;
  list-style: none; /* リストの丸い部分を非表示 */
}

.sub-menu li{
  border-bottom: 1px #ddd solid; /* 下線の装飾 */
}

.sub-menu a{
  color: #432;
  padding: 10px;
  display: block; /* クリックの範囲を広げている */
}

.sub-menu a:hover{
  color: #0bd;
}

.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}
/* 記事部分＋サイドバー */
.news-contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
/* 
  メニュー画面
*/
#menu{
  background-image: url('../images/menu-bg.jpg');
  min-height: 100vh; /* 本来60vhに設定していた */
}

.menu-content{
  max-width: 560px;
  margin-top: 10%;
}

.menu-content .page-title{
  text-align: center;
}

.menu-content p{
  font-size: 1.125rem;
  margin: 10px 0 0;
}

#scroll-msg{ /* お問合せページも使用している */
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 1.125rem;
  transition-duration: 500ms;
}

.fade-out{
  opacity: 0;
  transform: translate(0, 0);
  transition-duration: 500ms;
}
.grid{
  display: grid;
  gap: 26px; /* タイル間の縦横の幅指定 */
  /* auto-fitで画面幅によって、タイルを繰り返す数が変化する（見やすさを保ってくれる） */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.big-box{
  grid-column: 1/3; /* 【横範囲】始まりのライン/終わりのライン */
  grid-row: 1/3;
}

.big-box img{
  height: 94%;
  width: 100%;
  object-fit: cover; /* 画像の歪みをなくしてくれる */
}
/* メニューをヌルッと表示させるアニメーション用 */
.fade-in {
  opacity: 0; /* 最初は隠す */
  transition-duration: 500ms;
  transition-property: opacity, transform;
}

.fade-in-up { /* 下からふわっとアニメーションする */
  transform: translate(0, 50px);
}

.scroll-in { /* スクロールイベントで付与される */
  opacity: 1;
  transform: translate(0, 0);
}
/*
  お問い合わせページ
*/
#contact{
  background-image: url('../images/contact-bg.jpg');
  min-height: 100vh;
}

form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block; /* これで縦並びになる */
}
/* inputの属性を指定できる */
input[type="text"],
input[type="email"], textarea{
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}

textarea{
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

#location{
  padding: 4% 0;
}

#location .wrapper{
  display: flex;
  justify-content: space-between; /* 要素を等間隔に配置する */
}

#location p{
  padding: 12px 10px;
}

.location-info{
  width: 22%;
}

.location-map{
  width: 74%;
}

iframe{
  width: 100%; /* マップがdivからはみ出すことなく配置される */
}
/* SNSスペース */
#sns{
  background-color: #FAF7F0;
  padding: 4% 0;
}

#sns .wrapper{
  display: flex;
  justify-content: space-between;
}

#sns .sub-title{
  margin-bottom: 30px;
}

.sns-box{
  width: 30%;
}
/* モバイル版（メディアクエリーと呼ばれる） */
@media (max-width: 600px){ /* 600px以下になると設定が適用される */
  .page-title{
    font-size: 2.5rem;
  }
  /* header */
  .main_nav{
    font-size: 1rem;
    margin-top: 10px;
  }

  .main_nav li{
    margin: 0 20px;
  }

  .home-content{
    margin-top: 20%;
  }

  .page-header{
    flex-direction: column; /* これで縦並びに設定できる */
    align-items: center; /* 中央揃え */
  }
  /* 
    newsページ 
  */
  .news-contents{
    flex-direction: column; /* 縦並びの設定 */
  }

  article, aside{
    width: 100%;
  }

  #news .page-title{
    margin-top: 30px;
  }

  aside{
    margin-top: 60px;
  }

  .post-info{
    margin-bottom: 30px;
  }

  .post-date{
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-date span{
    font-size: 0.875rem;
    padding-top: 2px;
  }

  .post-title{
    font-size: 1.375rem;
  }

  .post-cat{
    font-size: 0.875rem;
    margin-top: 10px;
  }

  .post-title, .post-cat{
    margin-left: 80px;
  }

  .ad{
    display: none; /* 要素自体を隠せる（非表示の箇所が埋まる） */
  }
  /*
    menuページ
  */
  .menu-content{
    margin-top: 20%;
  }

  .big-box{
    grid-column: auto;
    grid-row: auto;
  }

  .big-bg img{
    height: auto;
  }
  /*
    問い合わせページ
  */
  #contact .page-title{
    margin-top: 40px;
  }
  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea{
    max-width: 100%;
  }
  /* SNS */
  #location .wrapper,
  #sns .wrapper{
    flex-direction: column;
  }

  .location-info, .location-map, .sns-box{
    width: 100%;
  }

  .sns-box{
    margin-bottom: 30px;
  }
}