@charset "UTF-8";

/* 
  共通部分 
*/
html{
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.page-header{
  display: flex;
  font-size: 13px;
  border-bottom: 1px solid #d4d4d4;
}

.page-header h1{
  padding: 10px 0 0 19px;
}
.wrapper{
  min-width: auto;
  margin: 0 auto;
  padding: 0 0; /* スマートフォン向けの余白設定 */
}

.cm-HeaderLogo{
  width: 85px;
  margin-top: 14px;
}

.main_nav{
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.main_nav a{
  color: #432;
}

.main_nav a:hover{
  color: #0bd;
}
.main_nav li{
  margin: 0 0 0 30px;
  padding: 54px 0;
}

.headerNavLang{
  margin-left: auto;
  width: 120px;
  border-left: 1px solid #d4d4d4;
}

.headerNavLang p{
  padding: 54px 0;
  margin: 0 0 0 20px;
}

.headerNavLang a{
  color: #432;
}

.headerNavLang a:hover{
  color: #0bd;
}

.headerNavSub{
  width: 120px;
  border-left: 1px solid #d4d4d4;
}

.headerNavSub a{
  color: #432;
}

.headerNavSub a:hover{
  color: #0bd;
}

.SubList{
  list-style: none;
  margin: 40px 0 0 20px;
}

.topVisual{
  background-size: cover; /* 画像の縦横比を保ったまま、画面いっぱいに広げたい場合の設定 */
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

#topImg{
  background-image: url('../images/ae26e88550b587545778b941fd256d371df62a5d.jpg');
  min-height: 70vh;
  max-width: 1366px;
  margin: auto;
}

.tp-Topics{
  margin-top: 6.364301389904901%;
  background-color: #f7f6f2;
}

.tp-Heading{
  position: relative; /* これで自身が基準となる */
  top: -40px;
  margin-bottom: 55px;
}

.tp-HeadingMain{
  font-family: 'Raleway', sans-serif; /* Ralewayを使うために、htmlでgoogle web fontsを呼び出している */
  text-align: center;
  display: block;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.tp-HeadingMain::after{ /* 下線 */
  content: "";
  display: block;
  background-color: #b4b4b4;
  width:80px;
  height: 1px;
  position: absolute;
  top: 80px;
  left: 47%;
}

.tp-HeadingSub{
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 100;
}

.tp-TopicsInner{
  width: 100%;
  padding: 0 0 110px;
}

.tp-Declaration{
  width: 100%;
  background-color: #f7f6f2;
  padding-bottom: 20px;
}

.tp-DeclarationInner{
  width: 510px;
  background-color: #193b3c;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.tp-DeclarationTextArea{
  text-align: center;
  width: 500px;
  border: 1px solid #fff;
}

.tp-DeclarationLink{
  color: #fff;
}

.emergency-message1{
  padding-top: 15px;
  font-size: 22px;
  line-height: 1.0; /* 行間の指定 */
}

.emergency-message2{
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 2.0;
}

.tp-Emergency{
  background-color: #f7f6f2;
}

.tp-EmergencyInner{
  width: 510px;
  margin: auto;
  padding-bottom: 50px;
  background-color: #f7f6f2;
}

.tp-Service{
  margin-top: 50px;
  margin-bottom: 100px;
}

.ser-Heading{
  position: relative; /* これで自身が基準となる */
  margin-bottom: 55px;
}

.tp-ServiceInner{
  max-width: 1120px;
  margin: auto;
  width: 81.93vw;
}

.tp-ServiceList{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 83%;
  margin: auto;
}

.tp-ServiceListSubHead{
  font-size: 16px;
  position: relative; /* 要素が基準となる */
  padding-right: 30px;
}

.tp-ServiceDetail{
  font-size: 13px;
  margin-top: 15px;
}

@media (min-width: 768px){  
  .tp-ServiceListEl{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    border-left: 1px dotted #000;
    width: 33%;
  }
  
  .tp-ServiceListEl:nth-child(3n){ /* １列目右端のラインを作成 */
    border-right: 1px dotted #000;
  }
  
  .tp-ServiceListEl:last-child{ /* ２列目右端のラインを作成 */
    border-right: 1px dotted #000;
  }

  .tp-ServiceListEl a{
    color: #432;
  }

  .tp-ServiceListHead{
    width: 40%;
    margin-bottom: 30px;
  }
  
  .tp-ServiceListImg{
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
  }

  .tp-ServiceListSubHead::after{
    content: "->";
    width: 20px;
    height: 10px;
    position: absolute; /* relativeを持つ親要素を基準として指定する */
    right: 0;
  }

  .tp-ServiceLink{
    width: 170px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    margin: 5.357142857142857% auto 0;
    border: 2px solid #d6d2cf;
    border-radius: 100px;
    color: #432;
    font-family: 'Raleway', sans-serif;
    margin-left: 47%;
  }

  .tp-ServiceBtnText{
    position: relative; /* 要素が基準となる */
  } 
  .tp-ServiceBtnText::after{
    content: "->";
    width: 20px;
    height: 10px;
    margin-left: 10px;
    position: absolute; /* relativeを持つ親要素を基準として指定する */
  }
}

.tp-ServiceListHead{
  width: 40%;
  margin-bottom: 30px;
}

.tp-ServiceListImg{
  width: 40%;
  margin: auto;
}

.ser-HeadingMain{
  font-family: 'Raleway', sans-serif; /* Ralewayを使うために、htmlでgoogle web fontsを呼び出している */
  text-align: center;
  display: block;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.ser-HeadingMain::after{ /* 下線 */
  content: "";
  display: block;
  background-color: #b4b4b4;
  width: 7vw;
  height: 1px;
  position: absolute;
  top: 80px;
  left: 47%;
}

.ser-HeadingSub{
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 100;
}

.spOnly{
  display: none;
}
.tp-Fyt{
  width: 100%;
  background-color: #f7f6f2;
}
.tp-FytInner{
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
  padding: 4.389173372348208% 0;
}

.tp-FytList{
  display: flex;
  list-style: none;
  flex-wrap: wrap; /* 折り返し */
  width: 40%;
}

.tp-FytListEl{
  width: 45%;
  margin-bottom: 8%;
}

.tp-FytListEl a{
  color: #432;
}

.tp-FytMovieWrap{
  width: 50%;
}

.tp-FytMovieInner{
  width: 100%;
  position: relative;
}

.tp-FytMovieInner a{
  color: #432;
}

.tp-FytMovieLink{
  text-align: center;
  font-size: 13px;
}

.tp-FytMovie{
  width: 100%;
}
.tp-FytListCaption{
  margin-top: 6%;
  font-size: 13px;
  text-align: center;
}
.tp-FytListEl:nth-child(2n){ /* １列目右端のラインを作成 */
  margin-left: 6%;
}

.tp-FytInnerLink{
  width: 170px;
  padding: 4px 35px;
  margin-right: 15%;
  margin-top: 5%;
  border: 2px solid #d6d2cf;
  border-radius: 100px;
  color: #432;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  position: absolute;
  right: 0;
}

.tp-FytInnerLink::after{
  content: "->";
  width: 20px;
  height: 10px;
  margin-left: 10px;
  position: absolute; /* relativeを持つ親要素を基準として指定する */
}

.tp-FytInnerBtnText{
  position: relative; /* 要素が基準となる */
}

.tp-News{
  padding-top: 90px;
  padding-bottom: 130px;
  padding-left: 0;
  padding-right: 0;
}

.tp-Heading{
  position: relative; /* これで自身が基準となる */
  margin-bottom: 25px;
}

.tp-HeadingMain{
  font-family: 'Raleway', sans-serif; /* Ralewayを使うために、htmlでgoogle web fontsを呼び出している */
  text-align: center;
  display: block;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.tp-HeadingMain::after{
  content: "";
  display: block;
  background-color: #b4b4b4;
  width:80px;
  height: 1px;
  position: absolute;
  top: 80px;
  left: 47%;
}

.tp-HeadingSub{
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 100;
}

.tp-NewsInner{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content:space-between;
}

.tp-NewsSubInner{
  color: #432;
}

.tp-NewsMain{
  width: 48%;
}

.tp-NewsMainList{
  width: 95%;
  list-style: none;
}

.tp-NewsMainItem{
  width: 100%;
  border-bottom: solid 1px #d6d2cf;
  font-size: 14px;
  margin-bottom: 3.8%;
  padding-bottom: 2.8%;
}

.tp-NewsMainItem a{
  color: #432;
}

.tp-NewsMainInner{
  display: flex;
}
.tp-NewsMainCol:nth-child(1){
  width: 30%;
}

.tp-NewsMainCol:nth-child(2){
  width: 66%;
  padding-left: 20px;
  padding-bottom: 20px;
}

.tp-NewsMainDate{
  display: block;
  color: #aca59f;
  margin-bottom: 3.7%;
}

.tp-NewsMainTitle{
  display: block;
  line-height: 1.5;
  color: #000;
}

.tp-GotoNews{
  margin-top: 40px;
  width: 100%;
}

.tp-NewsSub{
  width: 22.3%;
  margin-left: 10px;
}

.tp-NewsSubHead{
  padding-bottom: 2px;
  border-bottom: solid 8px #f7f6f2;
  font-size: 18px;
  font-family: 'Raleway', sans-serif; /* Ralewayを使うために、htmlでgoogle web fontsを呼び出している */
}

.NewsSubList{
  list-style: none;
}

.tp-NewsSubItem{
  font-size: 12px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.tp-NewsSubDate{
  display: block;
  color: #aca59f;
  font-weight: bold;
  padding-bottom: 4%;
}

.tp-NewsSubTitle{
  display: block;
  line-height: 1.5;
}

.tp-NewsSubMore{
  margin-top: 20%;
  text-align: right;
}

.tp-NewsSubMoreLink{
  color:#301d0f;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.tp-NewsSubMoreLink::after{
  content: "->";
  width: 20px;
  height: 10px;
  position: absolute; /* relativeを持つ親要素を基準として指定する */
}

.tp-Partner{
  background-color: #f7f6f2;
}

.tp-PartnerInner{
  width: 82%;
  margin: auto;
  position: relative;
}

.tp-PartnerHead{
  position: absolute;
  font-size: 24px;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.tp-PartnerLead{
  width: 20%;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}

.tp-PartnerLink{
  width: 49%;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  position: relative;
  overflow: hidden; /* 子要素から、はみ出た画像などをはみ出さないように出来る */
  padding: 2% 1.785714285714286% 2% 21.428571428571427%;
}

.tp-PartnerLink::after{
  width: 37%;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.tp-PartnerLink-recruit::after{
  background-image: url("https://www.tullys.co.jp/assets/images/common/partner_recruit.png");
}

.tp-PartnerLinkWrap{
  justify-content: space-between;
  display: flex;
  padding-top: 5.1%;
  padding-bottom: 5.1%;
}

.tp-PartnerLinkInner{
  background-image: url("https://www.tullys.co.jp/assets/images/common/icon_arrow.png");
  background-position-x: right;
  background-position-y: center;
}

.tp-PartnerLinkLabel{
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom: 3.6%;
}

.tp-PartnerLinkSub{
  display: block;
  font-size: 14px;
  color: #535353;
}

.cm-Share{
  padding: 40px 0;
}

.cm-ShareHead{
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.cm-ShareBody{
  display: flex;
  width: 220px;
  justify-content: space-between;
  margin: auto;
}

.cm-ShareItem{
  height: 50px;
}

.cm-Footer{
  background: url("https://www.tullys.co.jp/assets/images/common/footer_bg_pc.jpg");
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: #211c1c;
}

.cm-FooterNav{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.cm-FooterNavRow{
  width: 23.75%;
}

.cm-FooterNavItem{
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 13px;
}

.cm-FooterPolicy{
  font-size: 13px;
  border-top: 1px solid #fff;
}

.cm-FooterPolicyNav{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.cm-FooterPolicyNavItem{
  color: #fff;
  margin: 0 30px;
}

.cm-FooterCopy{
  text-align: center;
  font-size: 10px;
  padding-bottom: 30px;
}

footer{
  background-color: #432;
  text-align: center;
  padding: 26px 0;
}
footer p{
  color: #fff;
  font-size: 0.875rem;
}

/* iPad版（メディアクエリーと呼ばれる） */
@media (max-width: 1070px) and (min-width: 768px){ /* 1070px以下になると設定が適用される */
  .main_nav li{
    margin: 0 0 0 10px;
  }

  .main_nav a{
    color: #432;
    font-size: 11px;
  }

  .page-title{
    font-size: 2.5rem;
  }

  .home-content{
    margin-top: 20%;
  }
}

/* スマホ版 */
@media (max-width: 767px){  
  .pcOnly{
    display: none;
  }

  .cm-HeaderLogo{
    width: 15.4%;
  }

  .main_nav a{
    color: #432;
    font-size: 3.2vw;
  }

  .cm-HeaderNavBtn{
    margin: 8% 5.333333333333334vw 0 auto;
  }

  .cm-HeaderNavBtnEl{
    width: 6.666666666666667vw;
    height: 0.533333333333333vw;
    margin-bottom: 1.866666666666667vw;
    background: #301d0f;
    display: block;
  }

  .main_nav li{
    margin-left: 5.333333333333334vw;
    padding-top: 15%;
  }

  .cm-HeaderNavListEl:nth-child(4), .cm-HeaderNavListEl:nth-child(5), .cm-HeaderNavListEl:nth-child(6){
    display: none;
  }

  .tp-Topics{
    margin-top: 0%;
  }

  .tp-Heading{
    top: 0px;
  }

  .tp-HeadingMain{
    font-family: 'Raleway', sans-serif; /* Ralewayを使うために、htmlでgoogle web fontsを呼び出している */
    text-align: center;
    display: block;
    font-size: 9.6vw;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }
  
  .tp-HeadingMain::after{ /* 下線 */
    content: "";
    display: block;
    background-color: #b4b4b4;
    width:12.2vw;
    height: 1px;
    position: absolute;
    top: 27vw;
    left: 45%;
  }
  
  .tp-HeadingSub {
    font-size: 3.733333333333334vw;
  }

  .tp-DeclarationInner{
    width: 82vw;
    background-color: #193b3c;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .tp-DeclarationTextArea{
    text-align: center;
    width: 80.1vw;
    border: 1px solid #fff;
  }

  .tp-EmergencyInner{
    width: 82vw;
    margin: auto;
    padding-bottom: 50px;
    background-color: #f7f6f2;
  }

  .emergency-message1{
    padding-top: 15px;
    font-size: 4vw;
    line-height: 1.0; /* 行間の指定 */
  }

  .ser-HeadingSub{
    font-size: 3.73vw;
  }

  .tp-ServiceListEl{
    width: 89.3vw;
    margin: 0 auto 10.666666666666668vw;
  }

  .tp-ServiceListHead{
    display: flex;
    width: 100%;
    align-items: center;
  }

  .tp-ServiceListHead img{
    width: 33%;
  }

  .tp-ServiceListHead::after{
    content: "";
    flex-grow: 1;
    border-top: 1px dotted #301d0f;
    margin-left: 1.3vw;
  }

  .tp-ServiceListEl a{
    color: #432;
  }

  .spOnly{
    display: block;
  }

  .tp-ServiceListInner{
    display: flex;
    justify-content: space-between;
    align-items: center; /* 縦が中央揃えになる */
  }

  .tp-ServiceListImg{
    padding-top: 1.3vw;
    padding-right: 3.7vw;
    padding-left: 3.7vw;
    padding-bottom: 0px; 
  }

  .tp-ServiceListDetail{
    width: 53.86vw;
  }

  .tp-ServiceBtnText{
    position: relative; /* 要素が基準となる */
  } 

  .tp-ServiceListSubHead{
    font-size: 4.266666666666667vw;
    line-height: 1.4em; /* 行間の幅 */
    padding-right: 5.333333333333334vw;
  }

  .tp-ServiceListSubHead::after{
    content: "->";
    height: 10px;
    position: absolute; /* relativeを持つ親要素を基準として指定する */
    right: 0;
  }

  .tp-ServiceDetail{
    font-size: 3.2vw;
  }

  .tp-ServiceLink{
    padding: 2.133333333333333vw;
    padding-left: 9.866666666666667vw;
    padding-right: 6vw;
    width: 43.733333333333334vw;
    margin: 10.666666666666668vw auto 0;
    font-size: 4.8vw;
    border: 2px solid #d6d2cf;
    border-radius: 100px;
    color: #432;
    font-family: 'Raleway', sans-serif;
    margin-left: 23%;
  }

  .tp-ServiceBtnText::after{
    content: "->";
    width: 20px;
    height: 10px;
    margin-left: 14px;
  }

  .tp-FytInner{
    flex-direction: column-reverse; /* 子要素の表示順が逆になる */
    /* padding: 10% 0; */
    width: 90%;
    padding-bottom: 25%;
    padding-top: 10%;
  }

  .tp-FytMovieWrap{
    width: 100%;
    padding-bottom: 10%;
  }

  .tp-FytList{
    width: 100%;
  }

  .tp-FytListEl{
    width: 47%;
  }

  .tp-FytMovieLink{
    font-size: 3.46vw;
  }

  .tp-FytListCaption{
    font-size: 3.46vw;
  }

  .tp-FytInnerBtnText{
    padding-left: 2.13vw;
    font-size: 4.8vw;
  }

  .tp-FytInnerLink{
    width: 43.733333333333334vw;
    padding: 1.5vw;
    padding-left: 6.866666666666667vw;
    padding-right: 6vw;
    font-size: 4.8vw;
    margin-right: 25%;
    margin-top: 135%;
  }

  .tp-FytInnerLink::after {
    width: 40px;
  }

  .tp-News{
    padding: 13.333333333333334vw 0 17.333333333333336vw;
  }

  .tp-HeadingMain{
    font-size: 9.6vw;
  }

  .tp-HeadingMain::after{
    top: 16vw;
  }

  .tp-HeadingSub{
    font-size: 3.733333333333334vw;
  }

  .tp-NewsInner{
    display: block;
    width: 89.3vw;
  }

  .tp-NewsMain{
    width: 100%;
  }

  .tp-NewsMainList{
    width: 100%;
  }

  .tp-NewsSub{
    width: 100%;
    margin-top: 10vw;
  }

  .tp-NewsMainDate{
    font-size: 4.8vw;
  }

  .tp-NewsMainTitle{
    font-size: 4.8vw;
  }

  .tp-NewsSubHead{
    font-size: 4.8vw;
  }

  .tp-NewsSubItem{
    font-size: 4.8vw;
  }

  .tp-NewsSubMore{
    font-size: 4.8vw;
    padding-right: 6vw;
  }

  .tp-NewsSubMoreLink{
    padding-bottom: 1.3vw;
    padding-left: 1.9vw;
    padding-right: 7.5vw;
    border-bottom: solid 2px #d6d2cf;
  }

  .tp-NewsSubMoreLink::after{
    width: 7vw;
  }
}